<h2>Sign up</h2>

<body class="text-center form-field">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email" %>
    </div>

    <div class="field">
      <%= f.label :phone_number %><br />
      <%= f.text_field :phone_number, class: "email" %>
    </div>

    <div class="field">
      <%= f.label :birthday %><br />
      <%= f.text_field :birthday, class: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "password-conf" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block button"  %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</body>